absl-py
astunparse
cachetools
certifi
cffi
charset-normalizer
clang
click
cloudpickle
colorama
cryptography
decorator
dm-tree
Flask
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
itsdangerous
Jinja2
joblib
keras
keras-nightly==2.7.0.dev2021092007
Keras-Preprocessing
libclang
Markdown
MarkupSafe
nltk
numpy
oauthlib
opt-einsum
Pillow
protobuf
pyasn1
pyasn1-modules
pycparser
python-dotenv
regex
requests
requests-oauthlib
rsa
six
tb-nightly==2.7.0a20210919
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorflow-probability
termcolor
tf-estimator-nightly==2.7.0.dev2021092008
tf-nightly==2.7.0.dev20210919
tflearn
tqdm
urllib3
Werkzeug
wrapt
tensorflow-gpu
gunicorn
cudatoolkit
